<div class="cabecalho">
  <h1 class="titulo-pagina">
    {{title}}
  </h1>
</div>


<div class="credenciais-origem">
  <h2 class="titulo-credentiais-origem-service">
    Credentials Origin Service
  </h2>
  
  <div class="inputs">
    <form class="input-username">
      <mat-form-field class="input-username-full-width">
        <input matInput placeholder="Username" value="">
      </mat-form-field>
    </form>
    
    <form class="input-username">
      <mat-form-field class="input-username-full-width">
        <input matInput placeholder="Password" value="">
      </mat-form-field>
    </form>
  </div>

  <button mat-raised-button color="primary" class="button-credentials-origin">
    Get workspaces
  </button>
</div>

